.Register-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.Register-wrapper h2 {
  color: var(--primary-red);
  font-size: 8rem;
  letter-spacing: 5rem;
  margin-left: 5rem;
  font-weight: 300;
  text-align: center;
}
.Register-wrapper .Register-form_Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.Register-wrapper .Register-form_Main .inputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.Register-wrapper .Register-form_Main .Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.Register-wrapper .Register-form_Main input {
  border: 0;
  outline: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: var(--secondary-bg);
  color: #f1faee;
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
}
.Register-wrapper .Register-form_Main button {
  border: 0;
  outline: 0;
  padding: 1rem 3rem;
  width: max-content;
  margin: 0 auto;
  border-radius: 1rem;
  font-family: "Roboto Mono", monospace;
  background-color: #333;
  cursor: not-allowed;
  color: #f1faee;
  font-size: 2rem;
  font-weight: 500;
  transition: background-color, color 0.3s ease;
}
.Register-wrapper .Register-form_Main .buttonValid {
  background-color: var(--primary-red);
  cursor: pointer;
  color: #333;
}
