.Servers_Sidebar {
  background-color: #333;
  border-radius: 1rem;
}
.Servers_Sidebar h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary-red);
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.Servers_Sidebar_MainCont {
  max-height: 75vh;
  overflow-y: auto;
  padding: 1rem 2.5rem;
  width: 11rem;
}
.Servers_Sidebar_MainCont::-webkit-scrollbar {
  width: 5px;
}
.Servers_Sidebar_MainCont::-webkit-scrollbar-track {
  border-radius: 10rem;
}
.Servers_Sidebar_MainCont::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: var(--primary-red);
}
.Servers_Sidebar_MainCont_Server {
  margin-top: 2rem;
  cursor: pointer;
}
.Servers_Sidebar_MainCont_Server img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.Servers_Sidebar_MainCont_Server:first-of-type {
  margin-top: 0;
}
