.Spinner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  .container {
    width: 120px;
    height: 120px;
  }

  circle {
    fill: transparent;
    stroke: #dd2476;
    stroke: var(--primary-red);
    stroke-width: 4px;
    stroke-linecap: round;
  }

  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }

  #spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
  }
}
