.ControlsMainCont {
  display: flex;
  gap: 2rem;
  z-index: 50;
  justify-content: center;
  align-items: center;
}
.ControlsMainCont .MediaControlsCont {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-green-accent);
  padding: 0.8rem;
  border-radius: 10rem;
}
.ControlsMainCont .friendsTrigger {
  color: #ddd;
  font-size: 2.2rem;
  padding: 1.1rem;
  border-radius: 1rem;
  background-color: #333;
  cursor: pointer;
}
.ControlsMainCont .activeCont {
  color: var(--primary-red);
}
