.muteToggle {
  color: #ddd;
  font-size: 2rem;
  padding: 1.1rem;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

.ph-microphone-slash-bold {
  transition: color 0.3s ease;
  color: var(--primary-red);
}
