.DirectMessages_Sidebar {
  &_Main {
    background-color: #333;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    max-height: 70vh;
    // position: fixed;
    // top: 50%;
    // left: 15rem;
    // transform: translateY(-50%);
    transition: all 0.3s ease;
    z-index: 50;
    overflow-y: auto;

    .addSomeFriends {
      color: var(--primary-green-accent);
      font-size: 1.8rem;
      padding: 1rem;
      border-radius: 1rem;
      text-align: center;
      line-height: 1.4;
      background-color: rgb(46, 46, 46);
    }

    h2 {
      text-align: center;
      margin-bottom: 0.5rem;
      color: var(--primary-red);
      font-weight: 400;
      letter-spacing: 0.2rem;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10rem;
      background: var(--primary-red);
    }

    &_DM {
      display: flex;
      gap: 2rem;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      border-radius: 1rem;
      padding: 0.5rem 2rem;
      cursor: pointer;
      // background-color: rgb(39, 39, 39);

      .imageDiv {
        position: relative;

        img {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          border-radius: 50%;
          overflow: hidden;
        }
        .statusTag {
          width: 2rem;
          height: 2rem;
          background-color: var(--primary-green-accent);
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          right: 0;
          border: 3px solid #333;
        }
      }

      p {
        font-family: "Roboto Mono", monospace;
        color: #ddd;
        font-size: 1.7rem;
        font-weight: 600;
        width: calc(100% - 8rem);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
