.Sidebar {
  z-index: 50;
}
.Sidebar_ToggleBtn {
  background-color: #333;
  font-size: 3rem;
  color: var(--primary-red);
  padding: 1rem;
  border-radius: 50%;
  z-index: 50;
  cursor: pointer;
}
.Sidebar_ToggleBtn:hover {
  border-radius: 2rem;
}
.Sidebar .dummyPlaceholder {
  width: 5rem;
  padding: 1rem;
  height: 3rem;
}
.Sidebar_CloseBtn {
  background-color: #333;
  font-size: 3rem;
  color: var(--primary-red);
  padding: 1rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  left: 3rem;
  z-index: 80;
  cursor: pointer;
}
.Sidebar_CloseBtn:hover {
  border-radius: 2rem;
}
.Sidebar .LogoCont {
  position: fixed;
  z-index: 80;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.Sidebar .LogoCont h2 {
  color: var(--primary-green-accent);
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 2rem;
}
.Sidebar .LogoCont p {
  color: #f1faee;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.Sidebar .LogoCont p span {
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: 0.7rem;
  color: var(--primary-red);
}
@keyframes popUp {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
