.DirectMessages-Wrapper {
  width: 100%;
  height: 92vh;
  overflow-y: hidden;
  // background-color: red;
  position: relative;

  .DirectMessagesHeader {
    background-color: var(--primary-green-accent);
    display: flex;
    padding: 0.8rem 3rem;
    justify-content: space-between;
    align-items: center;
    height: 6%;

    &_User {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 2.3rem;
        color: #333;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--primary-red);
        transform: translateY(0.2rem);
      }
    }
    .DirectMessagesCallToggle {
      // border-radius: 50%;
      border-radius: 1rem;
      cursor: pointer;
      margin-right: 2rem;
      border: 0;
      outline: 0;
      background-color: #333;

      i {
        color: #b6ccfe;
        padding: 0.7rem;
        font-size: 2.5rem;
      }

      &:disabled,
      &:active:disabled,
      &:hover:disabled {
        background-color: rgb(34, 34, 34);
        i {
          color: rgb(121, 121, 121);
        }
      }
    }
  }

  .DirectMessagesBody-Message-MainWrapper {
    display: flex;
    height: 95%;
    overflow: auto;
    flex-direction: column-reverse;

    .NoMessages {
      color: #ddd;
      font-size: 3rem;
      font-weight: 400;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 2;

      span {
        color: var(--primary-red);
        font-weight: 500;
      }
    }
  }

  .DirectMessagesBody-MessageWrapper {
    width: 100%;
    // height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    // overflow-y: auto;
    padding-bottom: 10rem;
    position: relative;

    .DirectMessagesBody-Message {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      width: 100%;

      .DirectMessages-reply-Cont {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 0.5rem;

        i {
          color: var(--primary-red);
          font-size: 2rem;
          margin-left: 1.5rem;
        }

        img {
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
        }
        h2 {
          color: var(--primary-green-accent);
          font-weight: 400;
          font-size: 1.5rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }

        span {
          color: #ddd;
          font-size: 1.2rem;
        }
      }

      .DirectMessages_MessageContextMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 30;
        background-color: #333;
        border-radius: 1rem;
        padding: 1rem;
        width: auto;
        height: auto;
        transform-origin: top left;

        .ContextMenuOption {
          display: flex;
          gap: 2rem;
          justify-content: space-between;
          align-items: center;
          padding: 0.8rem 1rem;
          width: 100%;
          border-radius: 1rem;
          cursor: pointer;

          i {
            color: var(--primary-green-accent);
            font-size: 2.5rem;
          }

          span {
            color: #ddd;
            font-size: 1.5rem;
          }
        }
      }

      .DirectMessages_UserProfileContext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 30;
        background-color: rgb(32, 32, 32);
        border-radius: 1rem;
        padding: 1rem;
        width: auto;
        height: auto;
        width: 37rem;
        transform-origin: top left;

        .ImgCont {
          position: relative;
          img,
          .NOCoverImage {
            width: 35rem;
            height: 15rem;
            object-fit: cover;
            overflow: hidden;
            border-radius: 1rem;
          }
          .NOCoverImage {
            background-color: var(--primary-green-accent);
          }
          .userProfileImage {
            width: 8rem;
            height: 8rem;
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid rgb(32, 32, 32);
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            left: 2rem;
          }
        }
        .userProfileData {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.5rem;
          margin-left: 5rem;
          span {
            color: var(--primary-green-accent);
            font-size: 1.8rem;
          }

          p {
            color: #ddd;
            font-size: 1.3rem;
            font-weight: 800;
          }
        }

        .userProfileAboutMe {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 1rem;
          background-color: var(--primary-bg);
          padding: 1rem;
          border-radius: 1rem;
          width: 90%;
          margin-top: 1.5rem;

          span {
            color: #ddd;
            background-color: rgb(31, 31, 31);
            font-size: 1.5rem;
            padding: 0.5rem 2rem;
            border-radius: 5px;
          }
          p {
            color: #ddd;
            font-size: 1.5rem;
          }
        }
      }

      &_Details {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
        }
        h2 {
          color: var(--primary-red);
          font-weight: 400;
          font-size: 1.8rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }

        span {
          color: #ddd;
          font-size: 1.2rem;
          font-weight: 500;
          margin-left: 2rem;
        }

        //p {
        //  span{
        //    color: #ddd;
        //    padding: 0 .5rem;
        //    font-size: 2rem;
        //  }
        //  color: var(--primary-blue);
        //  font-size: 1.3rem;
        //  transform: translateY(0.1rem);
        //}
      }

      &_Body {
        p {
          color: #ddd;
          font-size: 1.3rem;
          font-weight: 500;
          margin-left: 5.2rem;

          a {
            color: var(--primary-red);
          }
        }

        .messageImg {
          width: 40rem;
          margin: 1rem;
          margin-left: 5.2rem;
          border-radius: 1rem;
          object-fit: cover;
          overflow: hidden;
        }

        .ImageFullWindow {
          .Backdrop {
            width: 100vw;
            height: 100vh;
            z-index: 90;
            background-color: rgba(0, 0, 0, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            cursor: pointer;
          }

          .messageImgFullScreen {
            width: 70vw;
            // max-width: 70vw;
            max-height: 90vh;
            border-radius: 1rem;
            object-fit: cover;
            overflow: hidden;
            z-index: 95;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .MessageEditForm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          .editMessageInput {
            background-color: #333;
            outline: 0;
            border: 0;
            width: 100%;
            padding: 1rem 3rem;
            margin: 1rem;
            border-radius: 1rem;
            border: 5px solid rgb(24, 24, 24);
            font-family: "Roboto Mono", monospace;
            color: #ddd;
            font-weight: 500;
            font-size: 1.6rem;
          }

          .BtnsCont {
            align-self: flex-start;
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;

            button {
              border: 0;
              outline: 0;
              background-color: var(--primary-green-accent);
              padding: 0.8rem 2rem;
              border-radius: 5px;
              font-family: "Roboto Mono", monospace;
              color: #333;
              font-size: 1.5rem;
              font-weight: 800;
              cursor: pointer;
            }

            .EditCancel {
              background-color: var(--secondary-red);
              color: #ddd;
            }
          }
        }
      }
    }
  }

  .DirectMessages-InputWrapper {
    height: auto;
    position: absolute;
    bottom: 4rem;
    // bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent 20%,
      var(--primary-bg)
    );

    // transform: translateY(-10rem);
    form {
      .directMessages-input-cont {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        border: 0;
        outline: 0;
        padding: 1.2rem 3rem;
        border-radius: 2rem;
        background-color: #333;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .ReplyCont {
          width: 100%;
          background-color: rgb(31, 31, 31);
          padding: 0.5rem 2rem;
          border-radius: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5rem;

          span {
            color: #ddd;
            font-size: 1.5rem;
          }

          i {
            color: var(--primary-green-accent);
            font-size: 1.8rem;
            cursor: pointer;
            background-color: #333;
            padding: 0.5rem;
            border-radius: 50%;
          }
        }

        .inputCont {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          input {
            color: #ddd;
            font-weight: 600;
            font-family: "Roboto Mono", monospace;
            font-size: 1.6rem;
            transition: all 0.2s ease-in-out;
            border: 0;
            outline: 0;
            width: 100%;
            background-color: transparent;
          }

          i {
            background-color: rgb(34, 34, 34);
            color: var(--primary-green-accent);
            border-radius: 1rem;
            padding: 0.4rem;
            cursor: pointer;
            transform: scale(2.2);
          }
        }
      }

      .inputFocused {
        box-shadow: 0 0 0 0.2rem var(--primary-red);
      }
    }
  }

  .replying {
    bottom: 6.4rem;
  }
}
