.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  height: 8vh;
}
.Nav_Left {
  display: flex;
  gap: 4rem;
  max-width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.Nav_Left .userDetails {
  display: flex;
  gap: 2rem;
  background-color: rgb(26, 26, 26);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  z-index: 50;
}
.Nav_Left .userDetails img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.Nav_Left .userDetails_Details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
}
.Nav_Left .userDetails_Details span {
  font-size: 1.5rem;
  color: var(--primary-green-accent);
}
.Nav_Left .userDetails_Details p {
  font-weight: 600;
  font-size: 1.2rem;
  color: #ddd;
  cursor: pointer;
}
.Nav_Right {
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.Nav_Right_Header-Dispel {
  color: var(--primary-red);
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2rem;
}
.Nav_Right p {
  color: #ddd;
  font-size: 1rem;
}
