.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.Nav_Left {
  display: flex;
  gap: 4rem;
  max-width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.Nav_Left .userDetails {
  display: flex;
  gap: 2rem;
  background-color: rgb(26, 26, 26);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  z-index: 50;
  margin-left: 4rem;
  position: relative;
}
.Nav_Left .userDetails img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.Nav_Left .userDetails_Details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
}
.Nav_Left .userDetails_Details span {
  font-size: 1.5rem;
  color: var(--primary-green-accent);
}
.Nav_Left .userDetails_Details p {
  font-weight: 600;
  font-size: 1.2rem;
  color: #f1faee;
  cursor: pointer;
}
.Nav_Right {
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.Nav_Right_Header-Dispel {
  color: var(--primary-red);
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2rem;
}
.Nav_Right p {
  color: #f1faee;
  font-size: 1rem;
}

.AccountCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 100;
  background-color: rgb(32, 32, 32);
  border-radius: 1rem;
  padding: 1rem;
  width: auto;
  height: auto;
  width: 37rem;
  transform-origin: top left;
  position: absolute;
  top: 110%;
  left: 0;
}
.AccountCard .ImgCont {
  position: relative;
}
.AccountCard .ImgCont .coverImage,
.AccountCard .ImgCont .NOCoverImage {
  width: 35rem;
  height: 15rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
  transition: filter 0.3s ease;
}
.AccountCard .ImgCont .NOCoverImage {
  background-color: var(--primary-green-accent);
}
.AccountCard .ImgCont .userProfileImageCont {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: 2rem;
}
.AccountCard .ImgCont .userProfileImageCont .userProfileImage {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(32, 32, 32);
}
.AccountCard .userProfileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 11rem;
  margin-top: 1rem;
}
.AccountCard .userProfileData .nameCont span {
  color: var(--primary-green-accent);
  font-size: 1.8rem;
  width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.AccountCard .userProfileData p {
  color: #f1faee;
  font-size: 1.3rem;
  font-weight: 800;
  width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.AccountCard .userProfileAboutMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--primary-bg);
  padding: 1rem;
  border-radius: 1rem;
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.AccountCard .userProfileAboutMe .aboutMeCont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.AccountCard .userProfileAboutMe .aboutMeCont span {
  color: #f1faee;
  background-color: rgb(31, 31, 31);
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.AccountCard .userProfileAboutMe p {
  color: #f1faee;
  font-size: 1.5rem;
  line-height: 1.5;
  white-space: pre-line;
}
.AccountCard .userProfileAboutMe p span {
  color: #f15bb5;
  font-size: 1.4rem;
  font-weight: bold;
}
